In [3]:
import pandas as pd
con=pd.DataFrame({'Country':['Algeria','Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil','Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia','Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary','India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico', 'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa','Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States','Uruguay','Venezuela','Vietnam','Zimbabwe'],'GDP':[2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605]})

In [9]:
con

          Country           GDP
0         Algeria   2255.225482
1          Angola    629.955306
2       Argentina  11601.630220
3       Australia  25306.824940
4         Austria  27266.403350
..            ...           ...
58  United States  37691.027330
59        Uruguay   9581.056590
60      Venezuela   5671.912202
61        Vietnam    757.400929
62       Zimbabwe    347.745660

[63 rows x 2 columns]

In [13]:
#country with the highest GDP
con['GDP'].idxmax()

45

In [14]:
con.iloc[45,:]

Country         Norway
GDP        40034.85063
Name: 45, dtype: object

In [36]:
#country with lowest GDP
con['GDP'].idxmin()

21

In [41]:
con.iloc[21,:]

Country      Ethiopia
GDP        229.676952
Name: 21, dtype: object

In [42]:
#Maximum GDP
con['GDP'].max()

40034.85063

In [43]:
#Minimum GDP
con['GDP'].min()

229.6769525

In [44]:
#Mean of GDP
con['GDP'].mean()

11289.409271639684

In [45]:
#Sum of GDP
con['GDP'].sum()

711232.7841133

In [51]:
con.describe()

                GDP
count     63.000000
mean   11289.409272
std    12846.190627
min      229.676952
25%     1270.818919
50%     4803.398244
75%    20262.713475
max    40034.850630

In [52]:
con['GDP'].std()

12846.190626580401